html, body {
  font-family: sans-serif;
  background-image: url(Pattern.png);
  margin-right: 150px;
  margin-left: 150px;
  float: left;
 }

img {	
    border-radius: 8px;
    margin-right: 300px;
  }

  
