html, body {
  font-family: sans-serif;
  margin: 25px;
  width: 50%;
  height: 50%;
  padding: 10px;
  background-image: url(Pattern.png);
}

img {	
  max-width: 50%;	
  height: auto;	
  border-radius: 8px;
  }

  
